.profile {
  border-radius: 50%;
  width: 55%;
  margin-left: 5px;
}

.bio{
  font-size: 30px;
  margin-top: 45px;
}

.contact-info{
    text-align: center;
}
.resume{
    font-size: 25px;
    width: 120px;
    margin-top: 10px;
  }
  
.linkedIn img{
    width: 120px;
    border-radius: 20px;
  } 

  .github img{
    border-radius: 120px;
  }

  a:hover img{
      background-color: #FFBF00;  
    }

    @media only screen and (max-width: 600px) {
      .profile{
 
        margin-left: 25%
      }
      
      .bio{
        text-align: center;
      }
      .resume{
        margin-left: 35%
      }
    
    }
