*{
  font-family: 'Quicksand', sans-serif;
}

.hero-home{
  background-image: url("../images/home_screen.jpg");
  background-size: cover;
}

.welcome{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: white;
  font-size: 200px;

}

.sub{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.sub a{
margin-left:40px;
}
a{
  color: white;
}
a:hover{
  color:#333030;
}
#name{
  color: #FFBF00;
  font-size:50px;
}

.navbar-end{
  color: #6A6262;
  font-size: 25px;
}

.button{
  background-color: #D4ADCF;
  border: 0px;
}

.button:hover{
  background-color: #FFBF00;
  border: 0px;
}

@media only screen and (max-width: 600px) {
  .welcome{
    position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ##FFBF00;
  /* color: white; */
  font-size: 75px;
}
.sub{
  position: absolute;
  top: 25%;
  left: 50%;
 
  font-size: 40px;
}
.sub a{
margin-left:40px;
color: white;
}
.sub a:hover{
  color: #333030;
}


}